---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { description, title, lastUpdated, pubDate, minutesRead } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        max-width: 100%;
        margin: 0;
      }

      .text_layout {
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 15vh 150px 1fr;
        .title {
          grid-column: 1 / 13;
          grid-row: 1 / 2;
        }
        aside {
          grid-row: 2 / 3;
          grid-column: 1 / 13;
        }

        h2 {
          margin: 0;
          margin-bottom: 10px;
          display: none;
        }

        h2.isH2Visible {
          display: block;
        }
        ul {
          list-style-type: none;
          padding: 0;
        }
        li {
          margin-bottom: 5px;
          border-bottom: 1px dotted var(--gray-500);
        }
        @media (min-width: 960px) {
          grid-template-rows: 20vh 1fr;
          aside {
            grid-row: 2 / 3;
            grid-column: 1 / 4;
          }
          .info {
            position: sticky;
            top: 40px;
            padding-right: 20px;
          }
        }
      }

      .header_table {
        margin-bottom: 10px;
        border-bottom: 1px solid var(--black);
      }

      .core_text {
        grid-row: 3 / 4;
        grid-column: 1 / 13;
        @media (min-width: 960px) {
          grid-column: 4 / 13;
          grid-row: 2 / 3;
        }
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article class="text_layout">
        <h1 class="title">{title}</h1>
        <aside>
          <div class="info">
            <h2>{title}</h2>
            <div>
              <h4 class="header_table">About this article</h4>
              <ul>
                <li>DATE: {pubDate}</li>
                {lastUpdated.length > 0 && <li>LAST UPDATED: {lastUpdated}</li>}
                <li>READING TIME: {minutesRead}</li>
                <li>SHARE: COPY URL</li>
              </ul>
            </div>
          </div>
        </aside>
        <div class="core_text">
          <h4 class="header_table">Article</h4>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body><script>
    const title = document.querySelector(".text_layout h1");
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        const secondaryTitle = document.querySelector(".text_layout h2");
        if (!secondaryTitle) return;
        if (!entry.isIntersecting) {
          secondaryTitle.classList.add("isH2Visible");
        } else {
          secondaryTitle.classList.remove("isH2Visible");
        }
      });
    });
    if (title) observer.observe(title);
  </script>
</html>
